@import 'variables';

@media (max-width: 710px) {
  header#header-nav {
    nav {
      $left: -100vw;
      position: absolute;
      top: calc(71px - $border-small);
      left: calc($left - $border-small);
      background: white;
      border: $black-border;
      box-sizing: content-box;
      width: 100%;

      ul {
        flex-direction: column;

        li {
          margin: 15px 0 !important;

          a,
          button {
            display: block;
            width: 200px;
            text-align: center;
          }
        }
      }
    }

    #hamburger-menu__button {
      display: block;
    }
  }
}
